<h1>
  Search Player Name:
</h1>
<%= form_for @player do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Search" %>
<% end %>

<div class="result"></div>
<p>
  <%= link_to "<- Back to #{@current_player.name}'s Dashboard", player_path(@current_player) %>
</p>

<script>
  $(document).on('turbolinks:load', function() {
    $('.new_player').submit(function(event) {
      event.preventDefault()
      const name = $("#player_name").val()

      $.post(`/players/search/${name}`, function(data) {
      if (data) {
        const player = new Player(data.name, data.characters)
        $(".result").html(player.playerEl())
      } else {
        $(".result").html("No player found.")
      }
    })
  })
})
</script>
