<h1>Current existing players:</h1>
<p>Player Name: <%= @player.name %></p>
<p>Player's gold: <%= @player.gold %></p>
<p>Player's strength: <%= @player.strength %></p>
<p>Player's skill: <%= @player.skill %></p>
